@model PchK22CNT3Lesson10Db.Models.PchAccount

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_PchLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PchAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PchUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PchUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PchPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PchPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PchFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PchFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PchEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PchEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PchPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PchPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PchActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PchActive)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
